<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="pt-br">
<head>
    <title>Autoescola Bellas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!-- jQuery -->
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}" defer></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">



    <!-- Inclua seu script personalizado -->
    <script src="../js/agendamento.js" defer></script>


</head>
<body>
<div class="container-fluid d-flex justify-content-between">
    <div class="row">
        <div class="d-flex flex-column justify-content-between col-auto min-vh-100 text-white p-3"
             style="background-color: #0a1c53">
            <div>
                <a th:href="@{/home}"
                   class="d-flex align-items-center ms-4 d-none d-sm-inline">
                    <img src="../assets/logotipo_bellas.svg" alt="" class="img-fluid fs-4 d-none d-sm-inline"
                         style="width: 12rem;">
                    <hr class="text-white ">
                </a>

                <ul class="nav nav-pills flex-column mt-2 mt-sm-0" id="menu">
                    <li class="nav-item my-sm-1 my-2">
                        <a th:href="@{/home}" class="nav-link text-white text-sm-start" aria-current="page">
                            <i class="bi bi-calendar-date"></i>
                            <span class="ms-4 d-none d-sm-inline ">Agenda</span>
                        </a>
                    </li>
                    <li class="nav-item my-sm-1 my-2">
                        <a th:href="@{/viewHomePage}" class="nav-link text-white text-sm-start">
                            <i class="bi bi-person-vcard"></i>
                            <span class="ms-4 d-none d-sm-inline ">Alunos</span></a>
                    </li>
                    <li class="nav-item my-sm-1 my-2">
                        <a th:href="@{/instrutor/listInstrutor}" class="nav-link text-white text-sm-start">
                            <i class="bi bi-person-badge"></i>
                            <span class="ms-4 d-none d-sm-inline ">Instrutores</span>
                        </a>
                    </li>
                    <li class="nav-item my-sm-1 my-2">

                        <a th:href="@{#}" class="nav-link text-white text-sm-start">
                            <i class="bi bi-key"></i>
                            <span class="ms-4 d-none d-sm-inline ">Credenciais</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="flex-column">
                <hr class="text-white">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item py-2 py-sm-0">

                        <a th:href="@{/}" class="nav-link text-white">
                            <i class="bi bi-box-arrow-left"></i>
                            <span class="mb-2 fs-4 d-none d-sm-inline">Sair</span></a>
                    </li>
                </ul>
                <div class="container-fluid fs-4 d-none d-sm-inline">
                    <p class="text-center text-muted fw-lighter  lh-1 mb-0">Escala Certa</p>
                    <p class="text-center text-muted fw-lighter lh-1 mb-0" style="font-size: 0.5rem;">Develop By Denise
                        Costa</p>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid m-2">
        <select id="instrutorSelect" onchange="carregarAgenda()" onclick="salvarAula(this)">
            <option value="">Selecione um instrutor</option>
            <option th:each="instrutor : ${instrutores}" th:value="${instrutor.id}" th:text="${instrutor.nome}"></option>
        </select>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>Segunda</th>
                <th>Terça</th>
                <th>Quarta</th>
                <th>Quinta</th>
                <th>Sexta</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <tr>
                <td>8:00 às 9:00</td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="8:00 às 9:00" data-dia="Segunda">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="8:00 às 9:00" data-dia="Terça">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="8:00 às 9:00" data-dia="Quarta">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="8:00 às 9:00" data-dia="Quinta">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="8:00 às 9:00" data-dia="Sexta">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>9:00 às 10:00</td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="9:00 às 10:00" data-dia="Segunda">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="9:00 às 10:00" data-dia="Terça">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="9:00 às 10:00" data-dia="Quarta">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="9:00 às 10:00" data-dia="Quinta">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="9:00 às 10:00" data-dia="Sexta">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
            </tr>
            <tr>
            <tr>
                <td>10:00 às 11:00</td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="10:00 às 11:00" data-dia="Segunda">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="10:00 às 11:00" data-dia="Terça">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="10:00 às 11:00" data-dia="Quarta">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="10:00 às 11:00" data-dia="Quinta">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="10:00 às 11:00" data-dia="Sexta">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>11:00 às 12:00</td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="11:00 às 12:00" data-dia="Segunda">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="11:00 às 12:00" data-dia="Terça">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="11:00 às 12:00" data-dia="Quarta">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="11:00 às 12:00" data-dia="Quinta">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="11:00 às 12:00" data-dia="Sexta">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>13:30 às 15:20</td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="13:30 às 15:20" data-dia="Segunda">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="13:30 às 15:20" data-dia="Terça">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="13:30 às 15:20" data-dia="Quarta">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="13:30 às 15:20" data-dia="Quinta">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="13:30 às 15:20" data-dia="Sexta">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>15:20 às 17:10</td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="15:20 às 17:10" data-dia="Segunda">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="15:20 às 17:10" data-dia="Terça">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="15:20 às 17:10" data-dia="Quarta">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="15:20 às 17:10" data-dia="Quinta">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="15:20 às 17:10" data-dia="Sexta">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>17:10 às 19:00</td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="17:10 às 19:00" data-dia="Segunda">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="17:10 às 19:00" data-dia="Terça">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="17:10 às 19:00" data-dia="Quarta">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="17:10 às 19:00" data-dia="Quinta">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
                <td>
                    <select onchange="salvarAula(this)" data-horario="17:10 às 19:00" data-dia="Sexta">
                        <option value="">Selecione um aluno</option>
                        <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                    </select>
                </td>
            </tr>

            </tbody>
        </table>

</div>
</div>
</body>
</html>