<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Autoescola Bellas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--bootstrap-->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div class="container my-2">
    <div>
        <h1>Alunos</h1>
        <a th:href = "@{/}" class="btn btn-primary btn-sm mb-3"> Página inicial </a>
    </div>

    <a th:href = "@{/showNewAlunoForm}" class="btn btn-primary btn-sm mb-3"> Cadastrar Aluno </a>

    <table  class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=ladv&sortDir=' + ${reverseSortDir}}">
                    LADV</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=nome&sortDir=' + ${reverseSortDir}}">
                    Nome</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                    E-mail</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=telefone&sortDir=' + ${reverseSortDir}}">
                    Telefone</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=categoria&sortDir=' + ${reverseSortDir}}">
                    Categoria</a>
            </th>
            <th> Ações </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aluno : ${listAlunos}">
            <td th:text="${aluno.ladv}"></td>
            <td th:text="${aluno.nome}"></td>
            <td th:text="${aluno.email}"></td>
            <td th:text="${aluno.telefone}"></td>
            <td th:text="${aluno.categoria}"></td>
            <td> <a th:href="@{/showFormForUpdate/{id}(id=${aluno.id})}" class="btn btn-primary">Atualizar</a>
                <a th:href="@{/deleteAluno/{id}(id=${aluno.id})}" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if = "${totalPages > 1}">
        <div class = "row col-sm-10">
            <div class = "col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
            </div>
            <div class = "col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>